DATABASE_URL=postgresql://agromart_user:agromart_pass@db:5432/agromart_db
SECRET_KEY=change-this-to-a-long-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
POSTGRES_USER=agromart_user
POSTGRES_PASSWORD=agromart_pass
POSTGRES_DB=agromart_db
